.navbar-light .navbar-brand,
.navbar-light .navbar-brand:hover,
.btn-outline-success,
.about h1 span,
.the-best span,
.footer span,
.btn-outline-danger,
.football h1,
.footer h3,
.theme-color i,
.scroll-top i 
{
    color: #deca3f ;
    
}

.navbar-light .navbar-nav .show > .nav-link,
.navbar-light .navbar-nav .active > .nav-link,
.navbar-light .navbar-nav .nav-link.show,
.navbar-light .navbar-nav .nav-link.active,
.navbar-light .navbar-nav .nav-link:hover,
.dropdown-item:hover,
.btn-outline-success:hover,
.page .carousel-indicators li.active,
.btn-danger,
.btn-danger:not(:disabled):not(.disabled):active,
.btn-danger:not(:disabled):not(.disabled).active,
.show > .btn-danger.dropdown-toggle,
.btn-danger:hover,
.btn-outline-danger:hover,
#scroll-top
{
    background-color: #deca3f;
}

.btn-outline-success,
.btn-outline-success:hover,
.btn-danger,
.btn-danger:hover,
.btn-danger:not(:disabled):not(.disabled):active,
.btn-danger:not(:disabled):not(.disabled).active,
.show > .btn-danger.dropdown-toggle,
.btn-outline-danger,
.btn-outline-danger:hover
{
  
    border-color: #deca3f;
  
}

.testimonials .carousel-indicators li.active,
.theme-color ul{
     border: 3px solid #deca3f;
    
}

.presidents .person img:hover {
    border: 5px solid #deca3f;
}

